<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Princess · Phoenix Framework</title>
	<link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
	 crossorigin="anonymous">
</head>

<body>
	<main role="main" class="container">
		<p class="alert alert-info" role="alert">
			<%= get_flash(@conn, :info) %>
		</p>
		<p class="alert alert-danger" role="alert">
			<%= get_flash(@conn, :error) %>
		</p>
		<%= render @view_module, @view_template, assigns %>
	</main>
	<script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
	<%= Drab.Client.run(@conn) %>
</body>

</html>
